<%= render "errors"%>
<p> Add a user: </p>
<%= form_for(@user,width:"800") do |f| %>
<%=label :username,"User name:" %>
<%=f.text_field :username,label: 'Username:' %><br />
<%=label :email,"Email:" %>
<%=f.text_field :email,label: 'Email:',value: 'sample@example.com' %><br />
<%=label :password,"Password:" %>
<%=f.password_field :password,label: 'Password:' %><br />
<%=f.submit %>
<% end %>